<ol class="breadcrumb">
  <li>{{link-to 'Inicio' 'home'}}</li>
  <li class="active">Mi perfil</li>
</ol>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="profile-thumbnail">
        <div class="profile-img">
          <img class="img-circle" src="{{avatar}}" alt="avatar">
          <span role="button" class="badge bg-green pull-right" {{action 'editAvatar'}}><i class="fa fa-pencil"></i></span>
        </div>
      </div>
      <div class="caption">
        <h3>{{model.user.profile.name}} {{model.user.profile.surname}}</h3>
      </div>
      {{#unless (eq model.user.role 'N')}}
      <div class="btn-group center-block" role="group">
        <button type="submit" class="btn btn-danger" {{action 'delete'}}><i class="fa fa-trash"></i> Darme de baja</button>
      </div>
      {{/unless}}
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-df">
    <div class="panel-heading">
      <h4 class="panel-title">Datos personales</h4>
    </div>
    <div class="panel-body">
      <table class="table">
        <tbody>
          <tr>
            <td>Edad</td>
            <td>{{moment-diff model.user.profile.birthday now precision='year'}} años</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{model.user.email}}</td>
          </tr>
          <tr>
            <td>Teléfono</td>
            <td>{{model.user.profile.phone}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{{avatar-modal id='modal-edit-avatar' avatar=avatar onsave="save"}}
