{{#wrapper-bg images='backgrounds/login.jpg'}}
  <div class="dt-login-page top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
            <h1><strong><a href="/">{{t 'label.dietafarma'}}</a></strong><br>{{t 'label.privateAccess'}}</h1>
          </div>
        </div>
        {{login-form
          onsubmit='authenticate'
          onreset='goToResetPassword'}}
      </div>
    </div>
  </div>

  {{wait-modal id='modal-login' text=(t 'text.accessing')}}
  {{#generic-modal id='modal-login-ko'}}
    <div class="text-center">{{fa-icon 'times-circle'}}</div>
    <h5 class="modal-title text-center">{{error}}</h5>
  {{/generic-modal}}
{{/wrapper-bg}}
