<ol class="breadcrumb">
  <li>{{link-to 'Inicio' 'home'}}</li>
  <li>{{link-to 'Mis dietas' 'home.diets.index'}}</li>
  <li class="active">Solicitar nueva dieta</li>
</ol>

<div class="container">
  <form role="form" id="form-request-diet">
    <div class="form-group">
      <label for="title">Escribe tus medidas de: peso (kg), contornos (cm) de muñeca, cintura, cadera, pierna,
        brazo, tórax. Porcentaje de grasa (%) si tu báscula dispone de algún tipo de medida en este sentido (especificar báscula si fuera posible)
      </label>
      {{textarea
        id='request-diet-q1'
        name='request-diet-q1'
        class='request-diet-q1 form-control'
        rows='2'
        value=data.q1}}
    </div>
    <div class="form-group">
      <label for="title">¿Has seguido la dieta propuesta por tu nutricionista de forma continuada? Escoge un valor de 0 a 5
      </label>
      {{textarea
        id='request-diet-q2'
        name='request-diet-q2'
        class='request-diet-q2 form-control'
        rows='2'
        value=data.q2}}
    </div>
    <div class="form-group">
      <label for="title">¿Qué aspectos te gustan más de la dieta?</label>
      {{textarea
        id='request-diet-q3'
        name='request-diet-q3'
        class='request-diet-q3 form-control'
        rows='2'
        value=data.q3}}
    </div>
    <div class="form-group">
      <label for="title">¿Qué es imposible de seguir?
      </label>
      {{textarea
        id='request-diet-q4'
        name='request-diet-q4'
        class='request-diet-q4 form-control'
        rows='2'
        value=data.q4}}
    </div>
    <div class="form-group">
      <label for="title">¿Quieres añadir algún alimento concreto que eches de menos?
      </label>
      {{textarea
        id='request-diet-q5'
        name='request-diet-q5'
        class='request-diet-q5 form-control'
        rows='2'
        value=data.q5}}
    </div>
    <div class="form-group">
      <label for="title">¿Consigues que no pasen más de 5 horas entre tomas?
      </label>
      {{textarea
        id='request-diet-q6'
        name='request-diet-q6'
        class='request-diet-q6 form-control'
        rows='2'
        value=data.q6}}
    </div>
    <div class="form-group">
      <label for="title">Puntúa de 0 a 5 (cero es nunca, 5 es diario) el consumo del ultraprocesados como
      cereales de desayuno, refrescos, galletas, bollería, comida rápida (pizza, hamburguesa)
      </label>
      {{textarea
        id='request-diet-q7'
        name='request-diet-q7'
        class='request-diet-q7 form-control'
        rows='2'
        value=data.q7}}
    </div>
    <div class="form-group">
      <label for="title">¿Crees que has seguido bien la dieta acercándote a tu objetivo?</label>
      {{textarea
        id='request-diet-q8'
        name='request-diet-q8'
        class='request-diet-q8 form-control'
        rows='2'
        value=data.q8}}
    </div>
    <div class="form-group">
      <label for="title">¿Cumpliste el objetivo de tomar 5 frutas/verduras/hortalizas diferentes al día? En caso
      negativo, ¿por qué?</label>
      {{textarea
        id='request-diet-q9'
        name='request-diet-q9'
        class='request-diet-q9 form-control'
        rows='2'
        value=data.q9}}
    </div>
    <div class="form-group">
      <label for="title">¿Tomaste las cantidades de alimentos proteicos propuestos? (por ejemplo huevos pollo
      pavo ternera pescado)? En caso negativo, ¿por qué?</label>
      {{textarea
        id='request-diet-q10'
        name='request-diet-q10'
        class='request-diet-q10 form-control'
        rows='2'
        value=data.q10}}
    </div>
    <div class="form-group">
      <label for="title">¿Cumpliste el objetivo de tomar 5 frutas/verduras/hortalizas diferentes al día? En caso
      negativo, ¿por qué?</label>
      {{textarea
        id='request-diet-q11'
        name='request-diet-q11'
        class='request-diet-q11 form-control'
        rows='2'
        value=data.q11}}
    </div>
    <div class="form-group">
      <label for="title">Si tu objetivo tiene un componente deportivo, ¿lograste entrenar todos los días que te
      habías propuesto? En caso negativo, ¿por qué?</label>
      {{textarea
        id='request-diet-q12'
        name='request-diet-q12'
        class='request-diet-q12 form-control'
        rows='2'
        value=data.q12}}
    </div>
    <div class="form-group">
      <label for="title">¿Estás dispuesto a probar alimentos que nunca antes hayas probado?</label>
      {{textarea
        id='request-diet-q13'
        name='request-diet-q13'
        class='request-diet-q13 form-control'
        rows='2'
        value=data.q13}}
    </div>
    <div class="form-group">
      <label for="title">¿Has usado el apartado mensajes de la plataforma alguna vez? ¿Te gusta y te parece
      fácil de usar?</label>
      {{textarea
        id='request-diet-q14'
        name='request-diet-q14'
        class='request-diet-q14 form-control'
        rows='2'
        value=data.q14}}
    </div>
    <div class="form-group">
      <label for="title">¿Quieres que realice algún taller online/artículo en blog sobre algún tema concreto que te interese para incorporar a tu dieta?</label>
      {{textarea
        id='request-diet-q15'
        name='request-diet-q15'
        class='request-diet-q15 form-control'
        rows='2'
        value=data.q15}}
    </div>
    <div class="form-group">
      <label for="title">¿Quieres añadir algún comentario que no haya sido tratado en preguntas anteriores?</label>
      {{textarea
        id='request-diet-q16'
        name='request-diet-q16'
        class='request-diet-q16 form-control'
        rows='2'
        value=data.q16}}
    </div>
    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-df" {{action 'save'}}>Solicitar</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-danger" {{action 'cancel'}}>Cancelar</button>
    </div>
  </form>
</div>

{{wait-modal id='modal-wait-request-diet' text='Solicitando dieta...'}}

{{#generic-modal id='modal-request-diet-ok' onclose='goToHome'}}
  <div class="text-center">{{fa-icon 'check-circle'}}</div>
  <h5 class="modal-title text-center">Con la información que me has dado voy a configurar tu siguiente dieta, si una vez la recibas
algo no te encaja con tus hábitos por favor házmelo saber en el apartado mensajes de la
plataforma y corregiré todo lo necesario para que la dieta sea aplicable. Gracias!</h5>
{{/generic-modal}}

{{#generic-modal id='modal-request-diet-error'}}
  <div class="text-center">{{fa-icon 'times-circle'}}</div>
  <h5 class="modal-title text-center">Error al solicitar la dieta!</h5>
{{/generic-modal}}
