<ol class="breadcrumb">
  {{#if isNutritionist}}
    <li>{{link-to 'Mis clientes' 'home.clients.index'}}</li>
  {{else}}
    <li class="active">Inicio</li>
  {{/if}}
</ol>

{{#each model.appointments.appointments as |appointment|}}
  <div class="container">
    <div class="panel panel-df">
      <div class="panel-heading">
        <h3 class="panel-title">Pr贸xita Cita <strong>{{if (eq appointment.type 'P') 'Presencial' 'Skype'}}</strong></h3>
      </div>
      <div class="panel-body">
        Tu cita es el {{moment-format appointment.date 'LLL'}}
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> Atenci贸n</h3>
      </div>
      <div class="panel-body">No tienes ninguna cita reservada pr贸ximamente</div>
    </div>
  </div>
{{/each}}


{{#each model.diets.diets as |diet index|}}
  <div class="container">
    <div class="panel panel-df">
      <div class="panel-heading">
        <h3 class="panel-title">
          #{{index}} {{diet.title}}
        </h3>
      </div>
      <div class="panel-body">
        Desde {{moment-format diet.fromDate 'DD/MM/YYYY'}} - Hasta {{moment-format diet.toDate 'DD/MM/YYYY'}}
      </div>
      <div class="panel-footer text-center">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-info" {{action 'open' (get diet 'url')}}><i class="fa fa-x fa-eye"></i></button>
        </div>
        {{#if isNutritionist}}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" {{action 'delete' (get diet '_id') (get diet 'client')}}><i class="fa fa-x fa-trash"></i></button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> Atenci贸n</h3>
      </div>
      <div class="panel-body">No tienes ninguna dieta asignada</div>
    </div>
  </div>
{{/each}}

