<ol class="breadcrumb">
  <li class="active">Inicio</li>
  {{#if isNutritionist}}
    <li>{{link-to 'Mis clientes' 'home.clients.index'}}</li>
  {{/if}}
</ol>

{{#if isNutritionist}}
  <div class="container">
    <div class="panel panel-df">
      <div class="panel-heading">
        <h3 class="panel-title">Tus citas de hoy</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.appointments.items as |cita|}}
            {{#if (gte (moment-diff now cita.date precision='days') 0)}}
              <tr>
                <td>{{moment-format cita.date 'DD/MM/YYYY'}}</td>
                <td>{{moment-format cita.date 'HH:mm'}}</td>
                <td>{{if (eq cita.type 'P') 'Presencial' 'Skype'}}</td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{else}}
  {{#each model.appointments.items as |cita|}}
    <div class="container">
      <div class="panel panel-df">
        <div class="panel-heading">
          <h3 class="panel-title">Próxima cita <strong>{{if (eq cita.type 'P') 'Presencial' 'Skype'}}</strong></h3>
        </div>
        <div class="panel-body">
          {{moment-format cita.date 'dddd DD [de] MMMM [de] YYYY [a las] HH:mm'}}
        </div>
        {{#if (gte (moment-diff now cita.date precision='hours') 24)}}
          <div class="panel-footer text-center">
            <button type="button" class="btn btn-danger" {{action 'delete' (get cita '_id')}}><i class="fa fa-trash"></i></button>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="alert alert-warning text-justify">
      <small><strong>Nota: </strong>Puedes cancelar tu cita antes de 24h si te surge algún imprevisto. La videoconsulta se intentará realizar como máximo hasta en 3 ocasiones. Si no hay respuesta la cita se dará por realizada.</small>
    </div>

    {{wait-modal id='modal-wait-delete-appointment' text='Cancelando cita...'}}

    {{#generic-modal id='modal-delete-appointment-ok' onclose='goToCalendar'}}
      <div class="text-center">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
      </div>
      <h5 class="modal-title">Cita cancelada!</h5>
    {{/generic-modal}}

    {{#generic-modal id='modal-delete-appointment-error'}}
      <div class="text-center">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </div>
      <h5 class="modal-title">Error al cancelar la cita!</h5>
    {{/generic-modal}}
  {{else}}
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-warning"></i> Atención</h3>
        </div>
        <div class="panel-body">No tienes ninguna cita reservada próximamente</div>
      </div>
    </div>
  {{/each}}
{{/if}}

{{#unless isNutritionist}}
  {{#each model.diets.diets as |diet index|}}
    <div class="container">
      <div class="panel panel-df">
        <div class="panel-heading">
          <h3 class="panel-title">
            #{{index}} {{diet.title}}
          </h3>
        </div>
        <div class="panel-body">
          Desde {{moment-format diet.fromDate 'DD/MM/YYYY'}} - Hasta {{moment-format diet.toDate 'DD/MM/YYYY'}}
        </div>
        <div class="panel-footer text-center">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-info" {{action 'open' (get diet 'url')}}><i class="fa fa-x fa-eye"></i></button>
          </div>
          {{#if isNutritionist}}
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-danger" {{action 'delete' (get diet '_id') (get diet 'client')}}><i class="fa fa-x fa-trash"></i></button>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-warning"></i> Atención</h3>
        </div>
        <div class="panel-body">No tienes ninguna dieta asignada</div>
      </div>
    </div>
  {{/each}}
{{/unless}}

