<ol class="breadcrumb">
  <li class="active">Inicio</li>
</ol>

{{#if isNutritionist}}
  <div class="container">
    <div class="panel panel-df">
      <div class="panel-heading">
        <h3 class="panel-title">Tus citas para los próximos 14 días</h3>
      </div>
      {{#if hasAppointments}}
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tipo</th>
                <th>Cliente</th>
              </tr>
            </thead>
            <tbody>
              {{#each model.appointments as |meet|}}
                {{#if (and (gte (moment-diff now meet.date precision='days') 0) (lte (moment-diff now meet.date precision='days') 7))}}
                  <tr>
                    <td>{{moment-parse-zone meet.date 'DD/MM/YYYY'}}</td>
                    <td>{{moment-parse-zone meet.date 'HH:mm'}}</td>
                    <td>{{translate-meet-type meet.type}}</td>
                    <td>{{meet.customer_data.0.profile.name}} {{meet.customer_data.0.profile.surname}}</td>
                  </tr>
                {{/if}}
              {{/each}}
            </tbody>
          </table>
        </div>
      {{else}}
        <div class="panel-body">No tienes ninguna programada para hoy</div>
      {{/if}}
    </div>
  </div>

  <div {{action 'showClients'}} class="floating-button">
    {{fa-icon 'user' size='2x' transform='down-6'}}
  </div>
{{else}}
  {{#if (get model 'user.profile.pendingDiet')}}
    <div class="alert alert-success text-justify">
      <small><strong>Nota: </strong>Tu nutricionista está trabajando en tu dieta. La tendrás disponible en un plazo máximo de 48 horas</small>
    </div>
  {{/if}}
  {{#if model.appointments.length}}
    <div class="alert alert-warning text-justify">
      <small><strong>Nota: </strong>Puedes cancelar tu cita antes de 24h si te surge algún imprevisto. La videoconsulta se intentará realizar como máximo hasta en 3 ocasiones. Si no hay respuesta la cita se dará por realizada.</small>
    </div>
  {{/if}}
  {{#each model.appointments as |meet|}}
    <div class="container">
      <div class="panel panel-df">
        <div class="panel-heading">
          <h3 class="panel-title">Próxima cita <strong>{{translate-meet-type meet.type}}</strong></h3>
        </div>
        <div class="panel-body">
          {{moment-parse-zone meet.date 'dddd DD [de] MMMM [de] YYYY [a las] HH:mm'}}
        </div>
        {{#if (gte (moment-diff now meet.date precision='hours') 24)}}
          <div class="panel-footer text-center">
            <button type="button" class="btn btn-danger" {{action 'delete' meet}}>{{fa-icon 'trash' size='x'}}</button>
          </div>
        {{/if}}
      </div>
    </div>
  {{else}}
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{fa-icon 'exclamation-triangle'}} Atención</h3>
        </div>
        <div class="panel-body">No tienes ninguna cita reservada próximamente</div>
      </div>
    </div>
  {{/each}}
{{/if}}

{{wait-modal id='modal-wait-delete-appointment' text='Cancelando cita...'}}

{{#generic-modal id='modal-delete-appointment-ok' onclose='refreshHome'}}
  <div class="text-center">{{fa-icon 'check-circle'}}</div>
  <h5 class="modal-title text-center">Cita cancelada!<br>Recuerda que podrás consumir ese servicio en el futuro sin coste alguno</h5>
{{/generic-modal}}

{{#generic-modal id='modal-delete-appointment-error'}}
  <div class="text-center">{{fa-icon 'times-circle'}}</div>
  <h5 class="modal-title text-center">Error al cancelar la cita!</h5>
{{/generic-modal}}



