<ol class="breadcrumb">
  <li>{{link-to 'Inicio' 'home'}}</li>
  <li>{{link-to 'Servicios de dieta' 'home.premium-services.index'}}</li>
  {{#unless (eq type 'O')}}
    <li>{{link-to 'Mi cita' 'home.premium-services.schedule'}}</li>
  {{/unless}}
  <li class="active">Preguntas</li>
</ol>

<section class="premium-banner schedule">
  <div class="overlay-color schedule">
    <div class="container">
      <div class="row">
        <div class="premium-banner-info">
          <div class="banner-text text-center">
            <h1 class="white">PREGUNTAS SOBRE TUS HÁBITOS</h1>
            {{#if isMandatory}}
              <p>Por favor, responde a las siguientes preguntas para que tu nutricionista pueda ofrecerte la dieta más adecuada</p>
            {{else}}
              <p>Aunque no es obligatorio contestar a las preguntas, te recomendamos hacerlo para que tu consulta con el nutricionista sea de más calidad y que así os podáis centrar en la dieta</p>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row">
        {{premium-services-steps currentStep=3}}
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{questionnaire-form
            version=questionsVersion
            mandatory=isMandatory
            oncancel='cancel'
            onsubmit='next'}}
        </div>
      </div>
    </div>
  </div>
</section>

{{wait-modal id='modal-wait-questions' text='Guardando respuestas...'}}

{{#generic-modal id='modal-questions-error'}}
  <div class="text-center">{{fa-icon 'times-circle'}}</div>
  <h5 class="modal-title text-center">Error al guardar las respuestas!</h5>
{{/generic-modal}}
