<ol class="breadcrumb">
  <li>{{link-to 'Mis clientes' 'home.clients'}}</li>
  <li class="active">Crear dieta</li>
</ol>

<div class="container">
  <form role="form" id="form-diet">
    <div class="form-group">
      <label for="title">Título:</label>
      {{input type='text' class='form-control' id='title' name='title' value=title data-validate='true'}}
    </div>

    <div class="form-group">
      {{input-date id='diet-start-date' labelText='Desde:' value=fromDate data-validate='true'}}
    </div>

    <div class="form-group">
      {{input-date id='toDate' labelText='Hasta:' value=toDate data-validate='true'}}
    </div>

    <div class="form-group">
      <label for="pwd">Archivo:</label>
      <div class="file-uploader">
        {{file-uploader file=file}}
      </div>
    </div>

    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-df" {{action 'save'}}>Guardar</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-danger" {{action 'cancel'}}>Cancelar</button>
    </div>
  </form>
</div>

{{wait-modal id='modal-wait-diet' text='Guardando dieta...'}}

{{#generic-modal id='modal-new-diet-ok' onclose='goToHome'}}
  <div class="text-center">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
  </div>
  <h5 class="modal-title">Dieta creada correctamente!</h5>
{{/generic-modal}}

{{#generic-modal id='modal-new-diet-error'}}
  <div class="text-center">
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  </div>
  <h5 class="modal-title">Error al crear la dieta!</h5>
{{/generic-modal}}
