<ol class="breadcrumb">
  <li>{{link-to 'Inicio' 'home'}}</li>
  <li>{{link-to 'Mis clientes' 'home.clients'}}</li>
  <li>{{link-to clientLinkLabel 'home.clients.client' userId}}</li>
  <li class="active">Subir dieta/pauta nutricional</li>
</ol>

<div class="container">
  <form role="form" id="form-diet">
    <div class="form-group">
      <label for="title">Título:</label>
      {{input
        id='title' 
        type='text'
        class='form-control'
        name='title'
        value=title
        data-validate='true'
        required=true}}
      <small class="help-block with-errors"></small>
    </div>
    <div class="form-group">
      <label for="title">Tipo:</label>
      {{#power-select
        id='diet-type'
        class='form-control'
        searchEnabled=false
        selected=option
        options=dietOptions
        onchange=(action (mut option)) as |type|}}
        {{type}}
      {{/power-select}}
    </div>

    {{#if (eq option 'Dieta')}}
      <div class="form-group">
        <label for="diet-start-date">Desde:</label>
        <div id='diet-start-date' class="input-group date">
          {{bootstrap-datepicker
            class='form-control'
            data-validate='true'
            required=true
            language='es'
            autoclose=true
            format='dd/mm/yyyy'
            widgetContainer='#diet-start-date'
            todayHighlight=true
            orientation='bottom'
            value=fromDate}}
          <span class="input-group-addon">{{fa-icon 'calendar-alt'}}</span>
        </div>
        <small class="help-block with-errors"></small>
      </div>

      <div class="form-group">
        <label for="diet-end-date">Hasta:</label>
        <div id='diet-end-date' class="input-group date">
          {{bootstrap-datepicker
            class='form-control'
            required=true
            data-validate='true'
            language='es'
            autoclose=true
            format='dd/mm/yyyy'
            widgetContainer='#diet-end-date'
            todayHighlight=true
            orientation='bottom'
            value=toDate}}
          <span class="input-group-addon">{{fa-icon 'calendar-alt'}}</span>
        </div>
        <small class="help-block with-errors"></small>
      </div>
    {{/if}}

    <div class="form-group">
      <label for="pwd">Archivo:</label>
      <div class="file-uploader">
        {{file-uploader file=file onloaded='fileSelected'}}
      </div>
      <small class="help-block with-errors"></small>
    </div>

    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-df" {{action 'save'}}>{{t 'label.save'}}</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-danger" {{action 'cancel'}}>{{t 'label.cancel'}}</button>
    </div>
  </form>
</div>

{{wait-modal id='modal-wait-diet' text='Guardando dieta...'}}

{{#generic-modal id='modal-new-diet-ok' onclose='goToHome'}}
  <div class="text-center">{{fa-icon 'check-circle'}}</div>
  <h5 class="modal-title text-center">Dieta creada correctamente!</h5>
{{/generic-modal}}

{{#generic-modal id='modal-new-diet-error'}}
  <div class="text-center">{{fa-icon 'times-circle'}}</div>
  <h5 class="modal-title text-center">Error al crear la dieta!</h5>
{{/generic-modal}}
