{{#wrapper-bg images='backgrounds/login.jpg'}}
  <div class="dt-login-page top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
            <h1>
              <strong>
                <a href="/">{{t 'label.dietafarma'}}</a>
              </strong>
              <br>{{t 'label.resetPass'}}
            </h1>
          </div>
        </div>
        {{check-email-form onsubmit='check'}}
      </div>
    </div>
  </div>

  {{wait-modal id='modal-check-email' text=(t 'text.checking')}}

  {{#generic-modal id='modal-check-email-ok' onclose='goToLogin'}}
    <div class="text-center">{{fa-icon 'check-circle'}}</div>
    <h5 class="modal-title text-center">{{t 'text.reset.emailOK'}}</h5>
  {{/generic-modal}}

  {{#generic-modal id='modal-check-email-ko'}}
    <div class="text-center">{{fa-icon 'times-circle'}}</div>
    <h5 class="modal-title text-center">{{t 'text.reset.emailKO'}}</h5>
  {{/generic-modal}}
{{/wrapper-bg}}
