{{#with model.user.profile as |profile|}}
  <ol class="breadcrumb">
    <li>{{link-to 'Inicio' 'home'}}</li>
    <li>{{link-to 'Mis clientes' 'home.clients.index'}}</li>
    <li class="active">Perfil de {{profile.name}}</li>
  </ol>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="profile-thumbnail">
          <img src="{{if profile.avatar profile.avatar (image-path 'default-avatar.png')}}" alt="avatar" class="profile-img">
          <div class="caption">
            <h3>{{profile.name}} {{profile.surname}}</h3>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" {{action 'delete' (get model.user '_id')}}>{{fa-icon 'trash' size='x'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="panel-group" id="accordion">
      <div class="panel panel-df">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Datos personales</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="table personal-data">
              <tbody>
                <tr>
                  <td>{{t 'label.profile.birthday'}}</td>
                  <td>{{moment-format profile.birthday 'DD/MM/YYYY'}} ({{moment-diff profile.birthday now precision='year'}} años)</td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.email'}}</td>
                  <td>{{model.user.email}}</td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.phone'}}</td>
                  <td>{{profile.phone}}</td>
                </tr>
                <tr>
                  <td>Dietas</td>
                  <td>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-info" {{action 'showDiets' (get model.user '_id')}}>{{fa-icon 'eye' size='x'}}</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-df">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Medidas</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table client-data">
              <tbody>
                <tr>
                  <td>{{t 'label.profile.measures.height'}}</td>
                  <td>{{profile.measures.height}} cm</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.height'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.measures.weight'}}</td>
                  <td>{{profile.measures.weight}} kg</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.weight'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.measures.imc'}}</td>
                  <td>{{profile.measures.imc}} %</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.imc'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.measures.water'}}</td>
                  <td>{{profile.measures.water}} %</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.water'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.measures.fat'}}</td>
                  <td>{{profile.measures.fat}} %</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.fat'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.measures.mass'}}</td>
                  <td>{{profile.measures.mass}} kg</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.mass'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.measures.biotype'}}</td>
                  <td>{{profile.measures.biotype}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.biotype'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.measures.boneMass'}}</td>
                  <td>{{profile.measures.boneMass}} kg</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.boneMass'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.measures.height'}}</td>
                  <td>{{profile.measures.metabolicExpense}} kcal</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.metabolicExpense'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.measures.metabolicAge'}}</td>
                  <td>{{profile.measures.metabolicAge}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.metabolicAge'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.measures.visceralFat'}}</td>
                  <td>{{profile.measures.visceralFat}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'measures.visceralFat'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
              </tbody>
            </table>

            <table class="table client-data">
              <thead>
                <tr>
                  <th>Segmento</th>
                  <th>Porcentaje grasa (%)</th>
                  <th>Masa muscular (kg)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Brazo izq.</td>
                  <td>{{profile.measures.segments.arm.left.fatPercentage}}</td>
                  <td>{{profile.measures.segments.arm.left.mass}}</td>
                </tr>
                <tr>
                  <td>Brazo dcho.</td>
                  <td>{{profile.measures.segments.arm.right.fatPercentage}}</td>
                  <td>{{profile.measures.segments.arm.right.mass}}</td>
                </tr>
                <tr>
                  <td>Pierna izq.</td>
                  <td>{{profile.measures.segments.leg.left.fatPercentage}}</td>
                  <td>{{profile.measures.segments.leg.left.mass}}</td>
                </tr>
                <tr>
                  <td>Pierna dcha.</td>
                  <td>{{profile.measures.segments.leg.right.fatPercentage}}</td>
                  <td>{{profile.measures.segments.leg.right.mass}}</td>
                </tr>
                <tr>
                  <td>Tronco</td>
                  <td>{{profile.measures.segments.trunk.fatPercentage}}</td>
                  <td>{{profile.measures.segments.trunk.mass}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-df">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Alimentación</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table client-data">
              <tbody>
                <tr>
                  <td>{{t 'label.profile.objective'}}</td>
                  <td>{{profile.objective}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'objective'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>

                </tr>
                <tr>
                  <td>{{t 'label.profile.reason'}}</td>
                  <td>{{profile.reason}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'reason'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.dietType'}}</td>
                  <td>{{profile.dietType}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'dietType'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.foodDiseases'}}</td>
                  <td>{{profile.foodDiseases}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'foodDiseases'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.foodForbidden'}}</td>
                  <td>{{profile.foodForbidden}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'foodForbidden'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.foodFavourite'}}</td>
                  <td>{{profile.foodFavourite}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'foodFavourite'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Frecuencia consumo fruta</td>
                  <td>{{profile.dayFruit}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'dayFruit'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Frecuencia consumo lácteos</td>
                  <td>{{profile.dayMilk}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'dayMilk'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Frecuencia consumo cereales y frutos secos</td>
                  <td>{{profile.dayCereals}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'dayCereals'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Frecuencia consumo proteinas</td>
                  <td>{{profile.dayProteins}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'dayProteins'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Cocina para él mismo </td>
                  <td>{{if profile.selfCook 'Sí' 'No'}}</td>
                </tr>
                <tr>
                  <td>Ha hecho dieta anteriormente</td>
                  <td>{{if profile.receiveDietsBefore 'Sí' 'No'}}</td>
                </tr>
                <tr>
                  <td>Anterior supervisor</td>
                  <td>{{profile.supervisor}} {{profile.supervisorDetail}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-df">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Actividad</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table client-data">
              <tbody>
                <tr>
                  <td>Trabaja actualmente</td>
                  <td>{{if profile.isEmployed 'Sí' 'No'}}</td>
                </tr>
                <tr>
                  <td>Tipo de empleo</td>
                  <td>{{profile.employmentType}}</td>
                </tr>
                <tr>
                  <td>Realiza ejercicio</td>
                  <td>{{if profile.doExercise 'Sí' 'No'}}</td>
                </tr>
                <tr>
                  <td>¿Cúal?¿Tiempo por sesión?</td>
                  <td>{{profile.sportDetail}}</td>
                </tr>
                <tr>
                  <td>Frecuencia</td>
                  <td>{{profile.exerciseFrecuency}}</td>
                </tr>
                <tr>
                  <td>Estaría dispuesto a aumentar su actividad</td>
                  <td>{{if profile.increaseActivity 'Sí' 'No'}}</td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.injuries'}}</td>
                  <td>{{profile.injuries}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'injuries'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Recibe información sobre entrenamiento</td>
                  <td>{{if profile.receiveTrainingInfo 'Sí' 'No'}}</td>
                </tr>
                <tr>
                  <td>Recibe información sobre suplementación deportiva</td>
                  <td>{{if profile.receiveSupplementInfo 'Sí' 'No'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/with}}

{{profile-modal id='modal-edit-profile' field=field value=value onsave='saveProfile'}}

{{#generic-modal id='modal-edit-profile-error'}}
  <div class="text-center">{{fa-icon 'times-circle'}}</div>
  <h5 class="modal-title text-center">Error al modificar tus datos del perfil!</h5>
{{/generic-modal}}
