{{#with model.user.profile as |profile|}}
  <ol class="breadcrumb">
    <li>{{link-to 'Inicio' 'home'}}</li>
    <li>{{link-to 'Mis clientes' 'home.clients.index'}}</li>
    <li class="active">Perfil de {{profile.name}}</li>
  </ol>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="profile-thumbnail">
          <img src="{{if profile.avatar profile.avatar (image-path 'default-avatar.png')}}" alt="avatar" class="profile-img">
          <div class="caption">
            <h3>{{profile.name}} {{profile.surname}}</h3>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" {{action 'delete' (get model.user '_id')}}>{{fa-icon 'trash' size='x'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="panel-group" id="accordion">
      <div class="panel panel-df">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Datos personales</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="table personal-data">
              <tbody>
                <tr>
                  <td>{{t 'label.profile.birthday'}}</td>
                  <td>{{moment-format profile.birthday 'DD/MM/YYYY'}} ({{moment-diff profile.birthday now precision='year'}} años)</td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.email'}}</td>
                  <td>{{model.user.email}}</td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.phone'}}</td>
                  <td>{{profile.phone}}</td>
                </tr>
                <tr>
                  <td>Dietas</td>
                  <td>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-info" {{action 'showDiets'}}>{{fa-icon 'eye' size='x'}}</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-df">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Medidas</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table client-data">
              <tbody>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.height'}}</td>
                  <td>{{profile.questionnaire.measures.height}} cm</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.height'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.weight'}}</td>
                  <td>{{profile.questionnaire.measures.weight}} kg</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.weight'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.imc'}}</td>
                  <td>{{profile.questionnaire.measures.imc}} %</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.imc'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.water'}}</td>
                  <td>{{profile.questionnaire.measures.water}} %</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.water'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.fat'}}</td>
                  <td>{{profile.questionnaire.measures.fat}} %</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.fat'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.mass'}}</td>
                  <td>{{profile.questionnaire.measures.mass}} kg</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.mass'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.biotype'}}</td>
                  <td>{{profile.questionnaire.measures.biotype}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.biotype'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.boneMass'}}</td>
                  <td>{{profile.questionnaire.measures.boneMass}} kg</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.boneMass'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.height'}}</td>
                  <td>{{profile.questionnaire.measures.metabolicExpense}} kcal</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.metabolicExpense'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.metabolicAge'}}</td>
                  <td>{{profile.questionnaire.measures.metabolicAge}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.metabolicAge'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.measures.visceralFat'}}</td>
                  <td>{{profile.questionnaire.measures.visceralFat}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.measures.visceralFat'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
              </tbody>
            </table>

            <table class="table client-data">
              <thead>
                <tr>
                  <th>Segmento</th>
                  <th>Porcentaje grasa (%)</th>
                  <th>Masa muscular (kg)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Brazo izq.</td>
                  <td>{{profile.questionnaire.measures.segments.arm.left.fatPercentage}}</td>
                  <td>{{profile.questionnaire.measures.segments.arm.left.mass}}</td>
                </tr>
                <tr>
                  <td>Brazo dcho.</td>
                  <td>{{profile.questionnaire.measures.segments.arm.right.fatPercentage}}</td>
                  <td>{{profile.questionnaire.measures.segments.arm.right.mass}}</td>
                </tr>
                <tr>
                  <td>Pierna izq.</td>
                  <td>{{profile.questionnaire.measures.segments.leg.left.fatPercentage}}</td>
                  <td>{{profile.questionnaire.measures.segments.leg.left.mass}}</td>
                </tr>
                <tr>
                  <td>Pierna dcha.</td>
                  <td>{{profile.questionnaire.measures.segments.leg.right.fatPercentage}}</td>
                  <td>{{profile.questionnaire.measures.segments.leg.right.mass}}</td>
                </tr>
                <tr>
                  <td>Tronco</td>
                  <td>{{profile.questionnaire.measures.segments.trunk.fatPercentage}}</td>
                  <td>{{profile.questionnaire.measures.segments.trunk.mass}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-df">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Alimentación</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table client-data">
              <tbody>
                <tr>
                  <td>{{t 'label.profile.questionnaire.objective'}}</td>
                  <td>{{profile.questionnaire.objective}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.objective'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>

                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.reason'}}</td>
                  <td>{{profile.questionnaire.reason}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.reason'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.dietType'}}</td>
                  <td>{{profile.questionnaire.dietType}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.dietType'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.foodDiseases'}}</td>
                  <td>{{profile.questionnaire.foodDiseases}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.foodDiseases'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.foodForbidden'}}</td>
                  <td>{{profile.questionnaire.foodForbidden}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.foodForbidden'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.foodFavourite'}}</td>
                  <td>{{profile.questionnaire.foodFavourite}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.foodFavourite'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Frecuencia consumo fruta</td>
                  <td>{{profile.questionnaire.dayFruit}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.dayFruit'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Frecuencia consumo lácteos</td>
                  <td>{{profile.questionnaire.dayMilk}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'dayMilk'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Frecuencia consumo cereales y frutos secos</td>
                  <td>{{profile.questionnaire.dayCereals}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.dayCereals'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Frecuencia consumo proteinas</td>
                  <td>{{profile.questionnaire.dayProteins}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.dayProteins'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Cocina para él mismo </td>
                  <td>{{t (if profile.questionnaire.selfCook 'text.yes' 'text.no')}}</td>
                </tr>
                <tr>
                  <td>Ha hecho dieta anteriormente</td>
                  <td>{{t (if profile.questionnaire.receiveDietsBefore 'text.yes' 'text.no')}}</td>
                </tr>
                <tr>
                  <td>Anterior supervisor</td>
                  <td>{{profile.questionnaire.supervisor}} {{profile.questionnaire.supervisorDetail}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-df">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Actividad</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table client-data">
              <tbody>
                <tr>
                  <td>Trabaja actualmente</td>
                  <td>{{t (if profile.questionnaire.isEmployed 'text.yes' 'text.no')}}</td>
                </tr>
                <tr>
                  <td>Tipo de empleo</td>
                  <td>{{profile.questionnaire.employmentType}}</td>
                </tr>
                <tr>
                  <td>Realiza ejercicio</td>
                  <td>{{t (if profile.questionnaire.doExercise 'text.yes' 'text.no')}}</td>
                </tr>
                <tr>
                  <td>¿Cúal?¿Tiempo por sesión?</td>
                  <td>{{profile.questionnaire.sportDetail}}</td>
                </tr>
                <tr>
                  <td>Frecuencia</td>
                  <td>{{profile.questionnaire.exerciseFrecuency}}</td>
                </tr>
                <tr>
                  <td>Estaría dispuesto a aumentar su actividad</td>
                  <td>{{t (if profile.questionnaire.increaseActivity 'text.yes' 'text.no')}}</td>
                </tr>
                <tr>
                  <td>{{t 'label.profile.questionnaire.injuries'}}</td>
                  <td>{{profile.questionnaire.injuries}}</td>
                  <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'questionnaire.injuries'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
                </tr>
                <tr>
                  <td>Recibe información sobre entrenamiento</td>
                  <td>{{t (if profile.questionnaire.receiveTrainingInfo 'text.yes' 'text.no')}}</td>
                </tr>
                <tr>
                  <td>Recibe información sobre suplementación deportiva</td>
                  <td>{{t (if profile.questionnaire.receiveSupplementInfo 'text.yes' 'text.no')}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/with}}

{{profile-modal id='modal-edit-profile' field=field value=value onsave='saveProfile'}}

{{#generic-modal id='modal-edit-profile-error'}}
  <div class="text-center">{{fa-icon 'times-circle'}}</div>
  <h5 class="modal-title text-center">Error al modificar tus datos del perfil!</h5>
{{/generic-modal}}
