<ol class="breadcrumb">
  <li>{{link-to 'Inicio' 'home'}}</li>
  <li class="active">Pedir cita</li>
</ol>

<div class="container">
  <form role="form" id="newAppointment">
    <div class="form-row">
      <div class="form-group col-xs-12">
        <label for="title">Tipo</label>
        {{#power-select
          id='bookType'
          class='form-control'
          searchEnabled=false
          selected=bookType
          options=typeOptions
          onchange=(action (mut bookType)) as |type|}}
          {{type}}
        {{/power-select}}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-xs-8">
        <label for="title">Día</label>
        {{#power-select
          id='bookDay'
          class='form-control'
          searchEnabled=false
          selected=bookDay
          options=dayOptions
          onchange=(action 'onSelectDay') as |day|}}
          {{moment-format day 'dddd DD MMMM' 'YYYY-MM-DD'}}
        {{/power-select}}
      </div>
      <div class="form-group col-xs-4">
        <label for="title">Hora</label>
        {{#power-select
          id='bookHour'
          class='form-control'
          searchEnabled=false
          selected=bookHour
          options=hourOptions
          onchange=(action (mut bookHour)) as |hour|}}
          {{hour}}
        {{/power-select}}
      </div>
    </div>
    <div class="form-row text-center">
      <button type="button" class="btn btn-df btn-lg" {{action 'save'}}>Solicitar</button>
    </div>
  </form>
</div>

{{wait-modal id='modal-wait-new-appointment' text='Solicitando cita...'}}

{{#generic-modal id='modal-new-appointment-ok' onclose='goToHome'}}
  <div class="text-center">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
  </div>
  <h5 class="modal-title">Cita confirmada!</h5>
{{/generic-modal}}

{{#generic-modal id='modal-new-appointment-error'}}
  <div class="text-center">
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  </div>
  <h5 class="modal-title">Error al reservar la cita!</h5>
{{/generic-modal}}
