<section class="premium-banner">
  <div class="overlay-color">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="{{image-path 'logo-dietafarma-basic-white.png'}}" alt="dietafama logo">DietaFarma</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="banner-info">
          <div class="banner-text text-center">
            <h1 class="white">Hazte ya cliente premium</h1>
            <p>Recibe una atención más personalizada con nuestros packs premium</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="premium-packs">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img class="image" src="{{image-path 'face-to-face-icon.png'}}" alt="imagen pack bronce">
          <div class="caption-details">
            <h3>Compra 1 dieta presencial</h3>
            <p class="price">{{get prices 'P'}} €</p>
          </div>
          <div class="caption-link">
            <span {{action 'buy' 'P'}}>{{fa-icon 'plus' size='8x'}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img class="image" src="{{image-path 'skype-icon.png'}}" alt="imagen pack plata">
          <div class="caption-details">
            <h3>Compra 1 dieta por videollamada (skype)</h3>
            <p class="price">{{get prices 'V'}} €</p>
          </div>
          <div class="caption-link">
            <span {{action 'buy' 'V'}}>{{fa-icon 'plus' size='8x' fixedWidth=true}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img  class="image"src="{{image-path 'device-icon.png'}}" alt="imagen pack oro">
          <div class="caption-details">
            <h3>Compra 1 dieta online</h3>
            <p class="price">{{get prices 'O'}} €</p>
          </div>
          <div class="caption-link">
            <span {{action 'buy' 'O'}}>{{fa-icon 'plus' size='8x'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12 text-right">
        <a href="https://s3.eu-west-3.amazonaws.com/dieta-farma-files/Politica_devoluciones.pdf"><small>Consulta nuestra política de devoluciones</small></a>
      </div>
    </div>
  </div>
</section>

<section style="display:none">
  <form role="form" id="paymentForm" action="{{uri}}" target="" method="POST" style="display:none">
    <div class="form-group">
      <label for="Ds_SignatureVersion">Ds_SignatureVersion</label>
      <input type="text" class="form-control" id="Ds_SignatureVersion" name="Ds_SignatureVersion" value="HMAC_SHA256_V1">
    </div>
    <div class="form-group">
      <label for="Ds_MerchantParameters">Ds_MerchantParameters</label>
      <input type="text" class="form-control" id="Ds_MerchantParameters" name="Ds_MerchantParameters">
    </div>
    <div class="form-group">
      <label for="Ds_Signature">Ds_Signature</label>
      <input type="text" class="form-control" id="Ds_Signature" name="Ds_Signature">
    </div>
  </form>
</section>

<footer id="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Sígueme</h4>
          </div>
          <div class="info-sec">
            <ul class="social-icon">
              <a href="https://www.facebook.com/dietafarma.madrid" target="_blank">
                <li class="bglight-blue">{{fa-icon 'facebook-f' prefix='fab'}}</li>
              </a>
              <a href="https://twitter.com/dietafarma/" target="_blank">
                <li class="bglight-blue">{{fa-icon 'twitter' prefix='fab'}}</li>
              </a>
              <a href="https://www.instagram.com/dietafarma/" target="_blank">
                <li class="bgdark-blue">{{fa-icon 'instagram' prefix='fab'}}</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          {{t 'text.public.footer.copyright'}}
        </div>
      </div>
    </div>
  </div>
</footer>