<section class="premium-banner">
  <div class="overlay-color">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="{{image-path 'logo-dietafarma-basic-white.png'}}" alt="dietafama logo">DietaFarma</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="banner-info">
          <div class="banner-text text-center">
            <h1 class="white">Hazte ya cliente premium</h1>
            <p>Recibe una atención más personalizada con nuestros packs premium</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="premium-packs">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img class="image" src="{{image-path 'face-to-face-icon.png'}}" alt="imagen pack bronce">
          <div class="caption-details">
            <h3>Compra 1 dieta presencial</h3>
            <p class="price">40 €</p>
          </div>
          <div class="caption-link">
            <span {{action 'buy' '40'}}>{{fa-icon 'plus' size='8x'}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img class="image" src="{{image-path 'skype-icon.png'}}" alt="imagen pack plata">
          <div class="caption-details">
            <h3>Compra 1 dieta por skype (videollamada)</h3>
            <p class="price">30 €</p>
          </div>
          <div class="caption-link">
            <span {{action 'buy' '30'}}>{{fa-icon 'plus' size='8x' fixedWidth=true}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img  class="image"src="{{image-path 'device-icon.png'}}" alt="imagen pack oro">
          <div class="caption-details">
            <h3>Compra 1 dieta online</h3>
            <p class="price">15 €</p>
          </div>
          <div class="caption-link">
            <span {{action 'buy' '15'}}>{{fa-icon 'plus' size='8x'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="display:none">
  <form role="form" id="paymentForm" action="{{uri}}" target="" method="POST" style="display:none">
    <div class="form-group">
      <label for="Ds_SignatureVersion">Ds_SignatureVersion</label>
      <input type="text" class="form-control" id="Ds_SignatureVersion" name="Ds_SignatureVersion" value="HMAC_SHA256_V1">
    </div>
    <div class="form-group">
      <label for="Ds_MerchantParameters">Ds_MerchantParameters</label>
      <input type="text" class="form-control" id="Ds_MerchantParameters" name="Ds_MerchantParameters">
    </div>
    <div class="form-group">
      <label for="Ds_Signature">Ds_Signature</label>
      <input type="text" class="form-control" id="Ds_Signature" name="Ds_Signature">
    </div>
  </form>
</section>