<ol class="breadcrumb">
  <li>{{link-to 'Inicio' 'home'}}</li>
  <li class="active">{{t 'label.myProfile'}}</li>
</ol>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="profile-thumbnail">
        <div class="profile-img">
          <img class="img-circle" src="{{avatar}}" alt="avatar">
          <span role="button" class="badge bg-green pull-right" {{action 'editAvatar'}}>{{fa-icon 'pencil-alt'}}</span>
        </div>
      </div>
      <div class="caption">
        <h3>{{model.user.profile.name}} {{model.user.profile.surname}}</h3>
      </div>
      {{#unless (eq model.user.role 'N')}}
      <div class="btn-group center-block" role="group">
        <button type="submit" class="btn btn-danger" {{action 'delete'}}>{{fa-icon 'trash'}} Darme de baja</button>
      </div>
      {{/unless}}
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-df">
    <div class="panel-heading">
      <h4 class="panel-title">{{t 'label.profile.header'}}</h4>
    </div>
    <div class="panel-body">
      <table class="table personal-data">
        <tbody>
          <tr>
            <td>{{t 'label.profile.birthday'}}</td>
            <td>{{moment-format model.user.profile.birthday 'DD/MM/YYYY'}} ({{moment-diff model.user.profile.birthday now precision='year'}} años)</td>
            <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'birthday'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
          </tr>
          <tr>
            <td>{{t 'label.profile.email'}}</td>
            <td>{{model.user.email}}</td>
            <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'email'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
          </tr>
          <tr>
            <td>{{t 'label.profile.phone'}}</td>
            <td>{{model.user.profile.phone}}</td>
            <td><button class="btn btn-link btn-sm" {{action 'editProfile' 'phone'}}>{{fa-icon 'pencil-alt' fixedWidth=true}}</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-df">
  <div class="panel-heading">
    <h4 class="panel-title">{{t 'label.purchase.header'}}</h4>
  </div>
    <div class="panel-body">
      <table class="table personal-data">
        <tbody>
          <thead>
            <tr>
              <th>{{t 'label.date'}}</th>
              <th>{{t 'label.dietType'}}</th>
              <th>{{t 'label.amount'}}</th>
            </tr>
          </thead>
          {{#each model.purchases as |purchase|}}
            <tr>
              <td>{{moment-parse-zone purchase.date 'HH:mm'}}</td>
              <td>{{translate-meet-type purchase.type}}</td>
              <td>{{purchase.price}} €</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{avatar-modal id='modal-edit-avatar' avatar=avatar onsave='saveAvatar'}}

{{profile-modal id='modal-edit-profile' field=field value=value onsave='saveProfile'}}

{{#generic-modal id='modal-edit-profile-error'}}
  <div class="text-center">{{fa-icon 'times-circle'}}</div>
  <h5 class="modal-title text-center">Error al modificar tus datos del perfil!</h5>
{{/generic-modal}}
