<ol class="breadcrumb">
  <li>{{link-to 'Home' 'home'}}</li>
  <li>{{link-to 'Mis dietas' 'home.diets.index'}}</li>
  <li class="active"></li>
</ol>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        #{{index}} Desde {{moment-format diet.fromDate 'DD/MM/YYYY'}} - Hasta {{moment-format diet.toDate 'DD/MM/YYYY'}}
      </h3>
    </div>
    <div class="panel-body">
      {{diet.title}}
    </div>
    <div class="panel-footer">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-warning" {{action 'edit' _id}}><i class="fa fa-x fa-pencil"></i></button>
        <button type="button" class="btn btn-danger" {{action 'delete' _id}}><i class="fa fa-x fa-trash"></i></button>
      </div>
    </div>
  </div>
</div>
