<div class="home-header">
  <h1>{{headerTitle}}</h1>
  {{side-menu-toggle side='right'}}
</div>

{{#side-menu side='right' width='300px'}}
  <div class="side-title">
    {{inline-svg 'icon-dietafarma-white.svg'}}<span> DietaFarma App</span><
  </div>
  <div class="clearfix"></div>
  <div class="profile clearfix">
    <div class="side-menu-profile-pic">
      <img src="../assets/images/default-avatar.png" alt="..." class="img-circle profile-img">
    </div>
    <div class="side-menu-profile-info">
      <h3>{{fullName}}</h3>
      <div class="profile" {{action 'showMyProfile'}}><i class="fa fa-fw fa-gear"></i>Perfil</div>
    </div>
  </div>
  <nav class="side-menu-item-list">
    <ul>
      {{#if isClient}}
        <li {{action 'showDiets'}}><i class="fa fa-fw fa-file-text"></i><span>Mis dietas</span></li>
        <div id="SkypeButton_Call_dietafarma_1">
          <script type="text/javascript">
            Skype.ui({
            "name": "call",
            "element": "SkypeButton_Call_dietafarma_1",
            "participants": ["dietafarma"],
            "imageSize": 24
            });
          </script>
        </div>
      {{else}}
        <li {{action 'showMyClients'}}><i class="fa fa-fw fa-group"></i><span>Mis clientes</span></li>
      {{/if}}
      <li {{action 'showMessages'}}><i class="fa fa-fw fa-envelope"></i><span>Mensajes</span>
        {{#if (gt inboxMessages 0)}}
          <span class="badge bg-green">{{inboxMessages}}</span>
        {{/if}}
      </li>
      <li {{action 'logout'}}><i class="fa fa-fw fa-sign-out"></i><span>Salir</span></li>
    </ul>
  </nav>
{{/side-menu}}
{{content-backdrop}}
<main class="main-content">
  {{outlet}}
</main>
