<div class="home-header">
  <h1>{{headerTitle}}</h1>
  {{side-menu-toggle side='right'}}
</div>

{{#side-menu side='right' width='300px'}}
  <div class="side-title">
    <img src="{{image-path 'logo-dietafarma-basic-white.png'}}" alt="dieta farma logo">
    <span>DietafarmaOnline</span>
  </div>
  <div class="clearfix"></div>
  <div class="profile clearfix">
    <div class="side-menu-profile-pic">
      <img src="{{avatar}}" alt="avatar" class="profile-img">
    </div>
    <div class="side-menu-profile-info">
      <h3>{{fullName}}</h3>
      <div class="profile" {{action 'showMyProfile'}}>{{fa-icon 'cog' fixedWidth=true}}<span>Perfil</span></div>
    </div>
  </div>
  <nav class="side-menu-item-list">
    <ul>
      <li {{action 'goHome'}}>{{fa-icon 'home' fixedWidth=true}}<span>Inicio</span></li>
      {{#if isClient}}
        {{#if (or (or (not isFeatureActive) (not freePeriodExpired)) isPremium)}}
          <li {{action 'showDiets'}}>{{fa-icon 'file-alt' fixedWidth=true}}<span>Mis dietas</span></li>
          <li {{action 'requestAppointment'}}>{{fa-icon 'calendar-alt' fixedWidth=true}}<span>Pedir cita</span></li>
          <li><span class="skype-button rounded" data-color="#25a29f" data-text="Skype" data-contact-id="dietafarma"></span></li>
          <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
        {{else}}
          <li {{action 'makePremium'}}>{{fa-icon 'star' fixedWidth=true}}<span>Hazte premium</span></li>
        {{/if}}
      {{else}}
        <li {{action 'showMyClients'}}>{{fa-icon 'users' fixedWidth=true}}<span>Mis clientes</span></li>
        <li {{action 'showMyCalendar'}}>{{fa-icon 'calendar-alt' fixedWidth=true}}<span>Mi calendario</span></li>
      {{/if}}
      <li {{action 'showThreads'}}>{{fa-icon 'envelope' fixedWidth=true}}<span>Mensajes</span>
        {{#if (gt inboxThreadsUnread 0)}}
          <span class="badge bg-green">{{inboxThreadsUnread}}</span>
        {{/if}}
      </li>
      <li {{action 'logout'}}>{{fa-icon 'sign-out-alt' fixedWidth=true}}<span>Salir</span></li>
    </ul>
  </nav>
  <div class="version">
    <span>{{appVersion}}</span>
  </div>
{{/side-menu}}
{{content-backdrop}}
<main class="main-content">
  {{outlet}}
</main>
