<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      {{input type='text' value=value key-up=(action 'validate')}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-df" {{action 'save'}}>{{t 'label.save'}}</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal" {{action 'cancel'}}>{{t 'label.cancel'}}</button>
    </div>
  </div>
</div>
