<!-- Top content -->
<div class="top-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text">
        <h1><strong><a href="/"><i class="fa fa-heart"></i>Dietafarma</a></strong> Registro</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
        <form role="form" class="register">
          <h3>Rellena tus datos personales</h3>
          <p>Con estos datos te ofreceremos un servicio personalizado que se adapte mejor a tus necesidades</p>
          <div class="register-steps">
            <div class="register-progress">
              <div class="register-progress-line" data-now-value="10" data-number-of-steps="5" style="width: 10%;"></div>
            </div>
            <div class="register-step active">
              <div class="register-step-icon"><i class="fa fa-key"></i></div>
              <p>Cuenta</p>
            </div>
            <div class="register-step">
              <div class="register-step-icon"><i class="fa fa-user"></i></div>
              <p>Perfil</p>
            </div>
            <div class="register-step">
              <div class="register-step-icon"><i class="fa fa-area-chart"></i></div>
              <p>Medidas</p>
            </div>
            <div class="register-step">
              <div class="register-step-icon"><i class="fa fa-cutlery"></i></div>
              <p>Alimentación</p>
            </div>
            <div class="register-step">
              <div class="register-step-icon"><i class="fa fa-bicycle"></i></div>
              <p>Actividad</p>
            </div>
          </div>

          <fieldset id="register-step-1">
            <h4>Tus datos de acceso:</h4>
            <div class="form-group">
              <label class="sr-only" for="register-email">Email</label>
              {{input
                id='register-email'
                name='register-email'
                type='email'
                required=true
                class='register-email form-control'
                value=data.email
                placeholder='Tu email...'}}
            </div>
            <div class="form-group">
              <label class="sr-only" for="register-password">Contraseña</label>
              {{input
                id='register-password'
                name='register-password'
                type='password'
                required=true
                class='register-password form-control'
                value=data.password
                placeholder='Tu contraseña de acceso...'}}
              <small class="form-text text-muted">Tu contraseña debe contener como mínimo 8 caracteres</small>
            </div>
            <div class="register-buttons">
              <button type="button" class="btn btn-next" {{action 'saveStep'}}>Siguiente</button>
            </div>
          </fieldset>

          <fieldset id="register-step-2">
            <h4>Tu perfil:</h4>
            <div class="form-group">
              <label class="sr-only" for="register-name">Nombre</label>
              {{input
                id='register-name'
                name='register-name'
                type='text'
                maxlength='25'
                class='register-name form-control'
                required=true
                value=data.name
                placeholder='Nombre'}}
            </div>
            <div class="form-group">
              <label class="sr-only" for="register-surname">Apellidos</label>
              {{input
                id='register-surname'
                name='register-surname'
                type='text'
                maxlength='25'
                class='register-surname form-control'
                required=true
                value=data.surname
                placeholder='Apellidos'}}
            </div>
            <div class="form-group">
              <label for="register-birthday">Fecha de nacimiento</label>
              {{input
                id='register-birthday'
                name='register-birthday'
                type='text'
                class='register-birthday form-control'
                required=true
                value=data.birthday}}
            </div>
            <div class="form-group">
              <label class="sr-only" for="register-phone">Teléfono de contacto</label>
              {{input
                id='register-phone'
                name='register-phone'
                type='text'
                class='register-phone form-control'
                maxlength='9'
                value=data.phone
                required=true
                placeholder='Teléfono de contacto'}}
            </div>
            <div class="register-buttons">
              <button type="button" class="btn btn-previous" {{action 'previousStep'}}>Anterior</button>
              <button type="button" class="btn btn-next"{{action 'saveStep'}}>Siguiente</button>
            </div>
          </fieldset>

          <fieldset id="register-step-3">
            <h4>Tus medidas:</h4>
            <div class="form-group">
              <label class="sr-only" for="register-height">Altura</label>
              {{input
                id='register-height'
                name='register-height'
                type='number'
                class='register-height form-control'
                maxlength='3'
                required=true
                value=data.height
                placeholder='Altura (cm)'}}
            </div>
            <div class="form-group">
              <label class="sr-only" for="register-weight">Peso</label>
              {{input
                id='register-weight'
                name='register-weight'
                type='number'
                class='register-weight form-control'
                maxlength='3'
                required=true
                value=data.weight
                placeholder='Peso (kg)'}}
            </div>
            <div class="form-group">
              <label class="sr-only" for="register-shapes">Contornos</label>
              <span><a href="https://www.youtube.com/watch?v=SKV4DLq6aps" target="_blank">¿Sabes cómo tomar medidas antropométricas?</a></span>
              {{textarea
                id='register-shapes'
                name='register-shapes'
                class='register-shapes form-control'
                rows='2'
                value=data.shapes
                required=true
                placeholder='Mide tu contorno de cintura, muñecas, etc.'}}
            </div>
            <div class="register-buttons">
              <button type="button" class="btn btn-previous" onclick={{action 'previousStep'}}>Anterior</button>
              <button type="button" class="btn btn-next" onclick={{action 'saveStep'}}>Siguiente</button>
            </div>
          </fieldset>

          <fieldset id="register-step-4">
            <h4>Tus hábitos de alimentación:</h4>
            <div class="form-group">
              <label class="sr-only" for="register-clinic-history">Antecedentes de enfermedad digestiva o relacionado con dieta (endocrino, diabetes, colesterol, gota, infarto, anorexia...)</label>
              {{textarea
                id='register-clinic-history'
                name='register-clinic-history'
                class='register-clinic-history form-control'
                rows='2'
                value=data.clinicHistory
                required=true
                placeholder='Antecedentes de enfermedades digestivas o relacionadas con la dieta'}}
            </div>
            <div class="form-group">
              <label class="sr-only" for="register-food-diseases">Alergias / intolerancias alimentarias</label>
              {{textarea
                id='register-food-disease'
                name='register-food-disease'
                class='register-food-disease form-control'
                rows='2'
                value=data.foodDiseases
                required=true
                placeholder='Alergias o intolerancias alimentarias'}}
            </div>
            <div class="form-group">
              <label class="sr-only" for="register-food-forbidden">¿Hay algún alimento que no te gusta consumir por religión o creencias firmes</label>
              {{textarea
                id='register-food-forbidden'
                name='register-food-forbidden'
                class='register-food-forbidden form-control'
                rows='2'
                value=data.foodForbidden
                placeholder='¿Existen alimentos que detestes o no puedas consumir por religión o creencias firmes?'}}
            </div>
            <div class="form-group">
              <label class="sr-only" for="register-food-diseases">Describe un día normal en tu dieta, cuantas comidas, cada cuantas horas, detalla alimentos
              que componen platos compuestos.</label>
              {{textarea
                id='register-describe-diet'
                name='register-describe-diet'
                class='register-describe-diet form-control'
                rows='2'
                value=data.dietDescription
                required=true
                placeholder='Describe cómo es tu menú diario de comidas (número de platos, cantidad, etc...)'}}
            </div>
            <h5>Tomas a diario...</h5>
            <div class="form-group">
              <p>¿Frutas enteras (no zumo) verduras u hortalizas?</p>
              <label class="radio-inline"><input type="radio" name="optAlimentoFruta" value="S">Sí</label>
              <label class="radio-inline"><input type="radio" name="optAlimentoFruta" value="N">No</label>
            </div>
            <div class="form-group">
              <p>¿Lácteos?</p>
              <label class="radio-inline"><input type="radio" name="optAlimentoLacteos" value="S">Sí</label>
              <label class="radio-inline"><input type="radio" name="optAlimentoLacteos" value="N">No</label>
            </div>
            <div class="form-group">
              <p>¿Cereales y frutos secos?</p>
              <label class="radio-inline"><input type="radio" name="optAlimentoCereales" value="S">Sí</label>
              <label class="radio-inline"><input type="radio" name="optAlimentoCereales" value="N">No</label>
            </div>
            <div class="form-group">
              <p>¿Carne, pescado y huevos?</p>
              <label class="radio-inline"><input type="radio" name="optAlimentoProteinas" value="S">Sí</label>
              <label class="radio-inline"><input type="radio" name="optAlimentoProteinas" value="N">No</label>
            </div>
            <div class="form-group">
              <p>¿Cocinas para ti mismo o te preparan la comida?</p>
              <label class="radio-inline"><input type="radio" name="optAlimentoCocina" value="S">Sí</label>
              <label class="radio-inline"><input type="radio" name="optAlimentoCocina" value="N">No</label>
            </div>
            <div class="form-group">
              <p>¿Has practicado alguna dieta en el pasado?</p>
              <label class="radio-inline"><input type="radio" name="optAlimentoOtrasDietas" value="S">Sí</label>
              <label class="radio-inline"><input type="radio" name="optAlimentoOtrasDietas" value="N">No</label>
            </div>
            <div class="register-buttons">
              <button type="button" class="btn btn-previous" onclick={{action 'previousStep'}}>Anterior</button>
              <button type="button" class="btn btn-next" onclick={{action 'saveStep'}}>Siguiente</button>
            </div>
          </fieldset>

          <fieldset id="register-step-5">
            <h4>Tu actividad física:</h4>
            <div class="form-group">
              <p>¿Trabajas actualmente?</p>
              <label class="radio-inline"><input type="radio" name="optActividadEmpleado" value="S">Sí</label>
              <label class="radio-inline"><input type="radio" name="optActividadEmpleado" value="N">No</label>
            </div>
            <div class="form-group">
              <p>¿Cómo defines tu tipo de trabajo?</p>
              <label class="radio-inline"><input type="radio" name="optActividadTrabajo" value="S">Sedentario</label>
              <label class="radio-inline"><input type="radio" name="optActividadTrabajo" value="N">Activo</label>
            </div>
            <div class="form-group">
              <label for="selTransporte">¿Cómo sueles desplazarte?</label>
              <select class="form-control" id="selTransporte">
                <option>A pie</option>
                <option>Coche o moto</option>
                <option>Bicicleta</option>
                <option>Transporte público</option>
              </select>
            </div>
            <div class="form-group">
              <label for="selFrecuencia">¿Con qué frecuencia practicas alguna actividad deportiva?</label>
              <select class="form-control" id="selFrecuencia">
                <option>De 1 a 3 horas a la semana</option>
                <option>De 3 a 6 horas a las semana</option>
                <option>De 9 a 12 horas a la semana</option>
                <option>Más de 12 horas a la semana</option>
              </select>
            </div>
            <div class="form-group">
              <label for="register-injuries">¿Tienes lesiones que te impidan realizar alguna actividad concreta?</label>
              {{textarea
                id='register-injuries'
                name='register-injuries'
                class='register-injuries form-control'
                rows=2
                value=data.injuries
                placeholder='¿Tienes lesiones que te impidan realizar alguna actividad concreta?'}}
            </div>
            <div class="form-group">
              <p>¿Deseas recibir información sobre entrenamiento personal?</p>
              <label class="radio-inline"><input type="radio" name="optInfoEntrenamiento" value="S">Sí</label>
              <label class="radio-inline"><input type="radio" name="optInfoEntrenamiento" value="S">No</label>
            </div>
            <div class="form-group">
              <p>¿Estás interesado en recibir consejo sobre suplementación dietética?</p>
              <label class="radio-inline"><input type="radio" name="optInfoSuplementacion" value="S">Sí</label>
              <label class="radio-inline"><input type="radio" name="optInfoSuplementacion" value="N">No</label>
            </div>
            <div class="register-buttons">
              <button type="button" class="btn btn-previous" onclick={{action 'previousStep'}}>Anterior</button>
              <button type="button" class="btn btn-next" onclick={{action 'saveStep'}}>Siguiente</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
