<!-- Top content -->
<div class="top-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text">
        <h1><strong><a href="/"><i class="fa fa-heart"></i>Dietafarma</a></strong> Registro</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
        <form role="form" class="register">
          <h3>Rellena tus datos personales</h3>
          <p>Con estos datos te ofreceremos un servicio personalizado que se adapte mejor a tus necesidades</p>
          <div class="register-steps">
            <div class="register-progress">
              <div class="register-progress-line" data-now-value="10" data-number-of-steps="5" style="width: 10%;"></div>
            </div>
            <div class="register-step active">
              <div class="register-step-icon"><i class="fa fa-key"></i></div>
              <p>Cuenta</p>
            </div>
            <div class="register-step">
              <div class="register-step-icon"><i class="fa fa-user"></i></div>
              <p>Perfil</p>
            </div>
            <div class="register-step">
              <div class="register-step-icon"><i class="fa fa-area-chart"></i></div>
              <p>Medidas</p>
            </div>
            <div class="register-step">
              <div class="register-step-icon"><i class="fa fa-cutlery"></i></div>
              <p>Alimentación</p>
            </div>
            <div class="register-step">
              <div class="register-step-icon"><i class="fa fa-bicycle"></i></div>
              <p>Actividad</p>
            </div>
          </div>

          <fieldset id="register-step-1">
            <h4>Tus datos de acceso:</h4>
            <div class="form-group">
              <label for="register-email">Email</label>
              {{input
                id='register-email'
                name='register-email'
                type='email'
                required=true
                class='register-email form-control'
                autocomplete='off'
                value=data.email
                placeholder='Tu email...'}}
                <small class="help-block with-errors"></small>
            </div>
            <div class="form-group">
              <label for="register-password">Contraseña</label>
              {{input
                id='register-password'
                name='register-password'
                type='password'
                minlength='8'
                required=true
                class='register-password form-control'
                autocomplete='off'
                value=data.password
                placeholder='Tu contraseña de acceso...'}}
              <small class="help-block with-errors"></small>
            </div>
            <div class="register-buttons">
              <button type="button" class="btn btn-next" {{action 'saveStep'}}>Siguiente</button>
            </div>
          </fieldset>

          <fieldset id="register-step-2">
            <h4>Tu perfil:</h4>
            <div class="form-group">
              <label for="register-name">Nombre</label>
              {{input
                id='register-name'
                name='register-name'
                type='text'
                maxlength='25'
                class='register-name form-control'
                autocomplete='off'
                value=data.name
                placeholder='Nombre'}}
            </div>
            <div class="form-group">
              <label for="register-surname">Apellidos</label>
              {{input
                id='register-surname'
                name='register-surname'
                type='text'
                maxlength='25'
                class='register-surname form-control'
                autocomplete='off'
                value=data.surname
                placeholder='Apellidos'}}
            </div>
            <div class="form-group">
              <label for="register-birthday">Fecha de nacimiento (dd-mm-aaaa)</label>
              {{input
                id='register-birthday'
                name='register-birthday'
                type='text'
                class='register-birthday form-control'
                autocomplete='off'
                value=data.birthday}}
            </div>
            <div class="form-group">
              <p>Sexo</p>
              <label for="optGenre1" class="radio-inline">{{radio-button id='optGenre1' name='optGenre' value='male' checked=data.genre}}Hombre</label>
              <label for="optGenre2" class="radio-inline">{{radio-button id='optGenre2' name='optGenre' value='female' checked=data.genre}}Mujer</label>
            </div>
            <div class="form-group">
              <label for="register-phone">Teléfono de contacto</label>
              {{input
                id='register-phone'
                name='register-phone'
                type='text'
                class='register-phone form-control'
                maxlength='9'
                autocomplete='off'
                value=data.phone
                placeholder='Teléfono de contacto'}}
            </div>
            <div class="form-group">
              <label for="register-phone">¿Cuál es tu motivo y objetivo para realizar una dieta?</label>
              {{#power-select
                id='register-objectives'
                searchEnabled=false
                selected=data.objective
                options=objectives
                onchange=(action (mut data.objective)) as |obj|}}
                {{obj}}
              {{/power-select}}
              {{#power-select
                id='register-reasons'
                searchEnabled=false
                selected=data.reason
                options=reasons
                onchange=(action (mut data.reason)) as |reason|}}
                {{reason}}
              {{/power-select}}
            </div>
            <div class="register-buttons">
              <button type="button" class="btn btn-previous" {{action 'previousStep'}}>Anterior</button>
              <button type="button" class="btn btn-next"{{action 'saveStep'}}>Siguiente</button>
            </div>
          </fieldset>

          <fieldset id="register-step-3">
            <h4>Tus medidas:</h4>
            <div class="form-group">
              <label for="register-height">Altura</label>
              {{input
                id='register-height'
                name='register-height'
                type='text'
                class='register-height form-control'
                maxlength='3'
                autocomplete='off'
                value=data.height
                placeholder='Altura (cm)'}}
            </div>
            <div class="form-group">
              <label for="register-weight">Peso</label>
              {{input
                id='register-weight'
                name='register-weight'
                type='text'
                class='register-weight form-control'
                maxlength='3'
                autocomplete='off'
                value=data.weight
                placeholder='Peso (kg)'}}
            </div>
            <div class="form-group">
              <label class="sr-only" for="register-shapes">Contornos</label>
              <span><a href="https://www.youtube.com/watch?v=SKV4DLq6aps" target="_blank">¿Sabes cómo tomar medidas antropométricas?</a></span>
              {{textarea
                id='register-shapes'
                name='register-shapes'
                class='register-shapes form-control'
                rows='2'
                value=data.shapes
                placeholder='Mide tu contorno de cintura, muñecas, etc.'}}
            </div>
            <div class="register-buttons">
              <button type="button" class="btn btn-previous" onclick={{action 'previousStep'}}>Anterior</button>
              <button type="button" class="btn btn-next" onclick={{action 'saveStep'}}>Siguiente</button>
            </div>
          </fieldset>

          <fieldset id="register-step-4">
            <h4>Tus hábitos de alimentación:</h4>
            <div class="form-group">
              <label for="register-clinic-history">¿Tienes antecedentes de enfermedad digestiva o relacionado con dieta (endocrino, diabetes, colesterol, gota, infarto, anorexia...)</label>
              {{textarea
                id='register-clinic-history'
                name='register-clinic-history'
                class='register-clinic-history form-control'
                rows='2'
                value=data.clinicHistory}}
            </div>
            <div class="form-group">
              <label for="register-food-diseases">¿Padeces alguna alergia o intolerancia alimentaria? ¿Cuál?</label>
              {{textarea
                id='register-food-disease'
                name='register-food-disease'
                class='register-food-disease form-control'
                rows='2'
                value=data.foodDiseases}}
            </div>
            <div class="form-group">
              <label for="register-food-forbidden">¿Qué alimentos son los que más te gustan?</label>
              {{textarea
                id='register-food-favourite'
                name='register-food-favourite'
                class='register-food-favourite form-control'
                rows='2'
                value=data.foodFavourite}}
            </div>
            <div class="form-group">
              <label for="register-food-forbidden">¿Qué alimento/s no te gusta/n nada, no quieres o no puedes consumir?</label>
              {{textarea
                id='register-food-forbidden'
                name='register-food-forbidden'
                class='register-food-forbidden form-control'
                rows='2'
                value=data.foodForbidden}}
            </div>
            <div class="form-group">
              <label for="register-food-diseases">Describe un día normal en tu dieta, cuantas comidas, cada cuantas horas, detalla alimentos que componen platos combinados</label>
              {{textarea
                id='register-describe-diet'
                name='register-describe-diet'
                class='register-describe-diet form-control'
                rows='2'
                value=data.dietDescription}}
            </div>
            <h5>¿Qué tipo de alimentos consumes?¿Con qué frecuencia?</h5>
            <div class="form-group">
              <p>¿Frutas enteras (no zumo) verduras u hortalizas?</p>
              {{#power-select
                id='optFruit'
                searchEnabled=false
                selected=data.dayFruit
                options=foodFrecuency
                onchange=(action (mut data.dayFruit)) as |frec|}}
                {{frec}}
              {{/power-select}}
            </div>
            <div class="form-group">
              <p>¿Lácteos?</p>
              {{#power-select
                id='optMilk'
                searchEnabled=false
                selected=data.dayMilk
                options=foodFrecuency
                onchange=(action (mut data.dayMilk)) as |frec|}}
                {{frec}}
              {{/power-select}}
            </div>
            <div class="form-group">
              <p>¿Cereales y frutos secos?</p>
              {{#power-select
                id='optCereals'
                searchEnabled=false
                selected=data.dayCereals
                options=foodFrecuency
                onchange=(action (mut data.dayCereals)) as |frec|}}
                {{frec}}
              {{/power-select}}
            </div>
            <div class="form-group">
              <p>¿Carne, pescado y huevos?</p>
              {{#power-select
                id='optProteins'
                searchEnabled=false
                selected=data.dayProteins
                options=foodFrecuency
                onchange=(action (mut data.dayProteins)) as |frec|}}
                {{frec}}
              {{/power-select}}
            </div>
            <div class="form-group">
              <p>¿Cocinas para ti mismo o te preparan la comida?</p>
              <label for="optSelfCook1" class="radio-inline">{{radio-button id='optSelfCook1' name='optSelfCook' value='1' checked=data.selfCook}}Sí, cocino</label>
              <label for="optSelfCook2" class="radio-inline">{{radio-button id='optSelfCook2' name='optSelfCook' value='0' checked=data.selfCook}}No, me la preparan</label>
            </div>
            <div class="form-group">
              <p>¿Has practicado alguna dieta en el pasado?</p>
              <label for="optReceiveDietsBefore1" class="radio-inline">{{radio-button id='optReceiveDietsBefore1' name='optReceiveDietsBefore' value='1' checked=data.receiveDietsBefore}}Sí</label>
              <label for="optReceiveDietsBefore2" class="radio-inline">{{radio-button id='optReceiveDietsBefore2' name='optReceiveDietsBefore' value='0' checked=data.receiveDietsBefore}}No</label>
            </div>
            <div class="form-group">
              <p>¿Alguna de ellas bajo supervisión de un profesional?</p>
              {{#power-select
                id='optSupervisor'
                searchEnabled=false
                selected=data.supervisor
                options=otherSupevisors
                onchange=(action (mut data.supervisor)) as |superv|}}
                {{superv}}
              {{/power-select}}
            </div>
            <div class="register-buttons">
              <button type="button" class="btn btn-previous" onclick={{action 'previousStep'}}>Anterior</button>
              <button type="button" class="btn btn-next" onclick={{action 'saveStep'}}>Siguiente</button>
            </div>
          </fieldset>

          <fieldset id="register-step-5">
            <h4>Tu actividad física:</h4>
            <div class="form-group">
              <p>¿Trabajas actualmente?</p>
              <label for="optIsEmployed1" class="radio-inline">{{radio-button id='optIsEmployed1' name='optIsEmployed' value='1' checked=data.isEmployed}}Sí</label>
              <label for="optIsEmployed2" class="radio-inline">{{radio-button id='optIsEmployed2' name='optIsEmployed' value='0' checked=data.isEmployed}}No</label>
            </div>
            <div class="form-group">
              <label for="register-employment-type">¿Cómo defines tu tipo de trabajo?</label>
              {{#power-select
                id='register-employment-type'
                searchEnabled=false
                selected=data.employmentType
                options=employmentTypes
                onchange=(action (mut data.employmentType)) as |type|}}
                {{type}}
              {{/power-select}}
            </div>
            <div class="form-group">
              <label for="register-transport-type">¿Cómo sueles desplazarte?</label>
              {{#power-select
                id='register-transport-type'
                searchEnabled=false
                selected=data.transportType
                options=transportTypes
                onchange=(action (mut data.transportType)) as |type|}}
                {{type}}
              {{/power-select}}
            </div>
            <div class="form-group">
              <label for="register-activity">¿Con qué frecuencia practicas alguna actividad deportiva?</label>
              {{#power-select
                id='register-activity-frecuency'
                searchEnabled=false
                selected=data.activityFrecuency
                options=activityFrecuencies
                onchange=(action (mut data.activityFrecuency)) as |frecuency|}}
                {{frecuency}}
              {{/power-select}}
            </div>
            <div class="form-group">
              <label for="register-injuries">¿Tienes lesiones que te impidan realizar alguna actividad concreta?</label>
              {{textarea
                id='register-injuries'
                name='register-injuries'
                class='register-injuries form-control'
                rows=2
                value=data.injuries}}
            </div>
            <div class="form-group">
              <label>{{input type='checkbox' name='checkInjuries'}}No sufro ninguna otra patología que me impida o desaconseje hacer dieta de pérdida de peso</label>
            </div>
            <div class="form-group">
              <p>¿Deseas recibir información sobre entrenamiento personal?</p>
              <label for="optTrainingInfo1" class="radio-inline">{{radio-button id='optTrainingInfo1' name='optTrainingInfo' value='1' checked=data.receiveTrainingInfo}}Sí</label>
              <label for="optTrainingInfo2" class="radio-inline">{{radio-button id='optTrainingInfo2' name='optTrainingInfo' value='0' checked=data.receiveTrainingInfo}}No</label>
            </div>
            <div class="form-group">
              <p>¿Estás interesado en recibir de manera gratuita consejos sobre suplementación dietética?</p>
              <label for="optSupplementInfo1" class="radio-inline">{{radio-button id='optSupplementInfo1' name='optSupplementInfo' value='1' checked=data.receiveSupplementInfo}}Sí</label>
              <label for="optSupplementInfo2" class="radio-inline">{{radio-button id='optSupplementInfo2' name='optSupplementInfo' value='0' checked=data.receiveSupplementInfo}}No</label>
            </div>
            <div class="form-group"><label>{{input type='checkbox' name='checkTerms'}}Acepto que mis datos puedan ser utilizados para fines comerciales a terceros</label>
            </div>
            <small class="help-block with-errors"></small>
            <div class="register-buttons">
              <button type="button" class="btn btn-previous" {{action 'previousStep'}}>Anterior</button>
              <button type="submit" class="btn btn-next" {{action 'register'}}>Finalizar registro</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="end-register-modal-success" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registerSuccessLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <h5 class="modal-title" id="registerSuccessLabel">Registro completado!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-next" data-dismiss="modal" {{action 'success'}}>Acceder</button>
      </div>
    </div>
  </div>
</div>
<div id="end-register-modal-error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registerErrorLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        <h5 class="modal-title" id="registerErrorLabel">Error en el registro!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-next" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
