<!-- Top content -->
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text">
      <h1><strong><a href="/">{{t 'label.dietafarma'}}</a></strong> Registro</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
      <form role="form" class="register">
        <h3>Rellena tus datos personales</h3>
        <div class="register-steps">
          <div class="register-progress">
            <div class="register-progress-line" data-now-value="25" data-number-of-steps="2" style="width: 50%;"></div>
          </div>
          <div class="register-step active">
            <div class="register-step-icon">{{fa-icon 'key'}}</div>
            <p>Cuenta</p>
          </div>
          <div class="register-step">
            <div class="register-step-icon">{{fa-icon 'user'}}</div>
            <p>Perfil</p>
          </div>
        </div>
        <fieldset id="register-step-1">
          <h4>Tus datos de acceso:</h4>
          <div class="form-group">
            <label for="register-email">Email</label>
            {{input
              id='register-email'
              name='register-email'
              type='email'
              class='register-email form-control'
              autocomplete='off'
              value=data.email
              placeholder='Tu email...'}}
              <small class="help-block with-errors"></small>
          </div>
          <div class="form-group">
            <label for="register-password">Contraseña</label>
            {{input
              id='register-password'
              name='register-password'
              type='password'
              minlength='8'
              class='register-password form-control'
              autocomplete='off'
              value=data.password
              placeholder='Tu contraseña de acceso...'}}
            <small class="help-block with-errors"></small>
          </div>
          <div class="register-buttons">
            <button type="button" class="btn btn-next" {{action 'saveStep'}}>Siguiente</button>
          </div>
        </fieldset>

        <fieldset id="register-step-2">
          <h4>Tu perfil:</h4>
          <div class="form-group">
            <label for="register-name">Nombre</label>
            {{input
              id='register-name'
              name='register-name'
              type='text'
              maxlength='25'
              class='register-name form-control'
              autocomplete='off'
              value=data.name
              placeholder='Nombre'}}
            <small class="help-block with-errors"></small>
          </div>
          <div class="form-group">
            <label for="register-surname">Apellidos</label>
            {{input
              id='register-surname'
              name='register-surname'
              type='text'
              maxlength='25'
              class='register-surname form-control'
              autocomplete='off'
              value=data.surname
              placeholder='Apellidos'}}
            <small class="help-block with-errors"></small>
          </div>
          <div class="form-group">
            <label for="register-birthday">Fecha de nacimiento</label>
            <div class="row">
              <div class="col-xs-4">
                {{#power-select
                  id='register-birthday-day'
                  class='form-control'
                  searchEnabled=false
                  selected=data.birthday.day
                  options=(range 1 32)
                  onChange=(action (mut data.birthday.day)) as |day|}}
                  {{day}}
                {{/power-select}}
              </div>
              <div class="col-xs-4">
                {{#power-select
                  id='register-birthday-month'
                  class='form-control'
                  searchEnabled=false
                  selected=data.birthday.month
                  options=(range 1 13)
                  onChange=(action (mut data.birthday.month)) as |month|}}
                  {{month}}
                {{/power-select}}
              </div>
              <div class="col-xs-4">
                {{#power-select
                  id='register-birthday-year'
                  class='form-control'
                  searchEnabled=false
                  selected=data.birthday.year
                  options=(range birthdayYear.min birthdayYear.max)
                  onChange=(action (mut data.birthday.year)) as |year|}}
                  {{year}}
                {{/power-select}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <p>Sexo</p>
            <label for="optGenre1" class="radio-inline">
              {{radio-button id='optGenre1' name='optGenre' value='male' checked=data.genre}}
              <span>Hombre</span>
              <div class="radio-checked"></div>
            </label>
            <label for="optGenre2" class="radio-inline">
              {{radio-button id='optGenre2' name='optGenre' value='female' checked=data.genre}}
              <span>Mujer</span>
              <div class="radio-checked"></div>
            </label>
          </div>
          <div class="form-group">
            <label for="register-height">Altura</label>
            {{input
              id='register-measures-height'
              name='register-measures-height'
              type='text'
              class='register-measures-height form-control'
              autocomplete='off'
              pattern='[1|2][0-9][0-9]'
              value=data.measures.height
              placeholder='Altura (cm)'}}
            <small class="help-block with-errors"></small>
          </div>
          <div class="form-group">
            <label for="register-weight">Peso</label>
            {{input
              id='register-measures-weight'
              name='register-measures-weight'
              type='text'
              class='register-measures-weight form-control'
              autocomplete='off'
              pattern='[0-9]+([\.][0-9]+)?'
              value=data.measures.weight
              placeholder='Peso (kg)'}}
            <small class="help-block with-errors"></small>
          </div>
          <div class="form-group">
            <label for="register-phone">Teléfono de contacto</label>
            {{input
              id='register-phone'
              name='register-phone'
              type='text'
              class='register-phone form-control'
              maxlength='9'
              autocomplete='off'
              value=data.phone
              placeholder='Teléfono de contacto'}}
          </div>
          <div class="form-group">
            {{input type='checkbox' id='checkTerms' name='checkTerms' checked=data.terms}}
            <label for='checkTerms'>Acepto que mis datos personales puedan ser utilizados con fines comerciales</label>
            <small><a href="https://s3.eu-west-3.amazonaws.com/dieta-farma-files/Politica-proteccion-datos.pdf" target="_blank">Consulta nuestra política de protección de datos</a></small>
          </div>
          <small class="help-block with-errors"></small>
          <div class="register-buttons">
            <button type="button" class="btn btn-previous" {{action 'previousStep'}}>Anterior</button>
            <button type="submit" class="btn btn-next" {{action 'register'}}>Finalizar registro</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
