<ol class="breadcrumb">
  <li><a href="/home">Home</a></li>
  <li class="active">Mis próximas citas</li>
</ol>

<div class="container">
  <div class="panel panel-default">
    {{#power-calendar-multiple
      locale='es'
      class='dieta-farma-calendar-medium'
      minDate=now
      selected=meetDays as |calendar|}}
      {{calendar.nav}}
      {{#calendar.days as |day|}}
        {{#with (moment-format day.date 'ddd') as |weekday|}}
          {{#if (or (eq weekday "Sat") (eq weekday "Sun"))}}
            <strong class="holiday">{{day.number}}</strong>
          {{else}}
            {{day.number}}
          {{/if}}
        {{/with}}
      {{/calendar.days}}
    {{/power-calendar-multiple}}
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Detalle</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Cliente</th>
        </tr>
      </thead>
      <tbody>
        {{#each appointments as |meets|}}
          <tr>
            <td>{{moment-format meets.date 'DD/MM/YYYY HH:MM'}}</td>
            <td>{{meets.client}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
