<ol class="breadcrumb">
  <li>{{link-to 'Inicio' 'home'}}</li>
  <li>{{link-to 'Servicios de dieta' 'home.premium-services.index'}}</li>
  {{#unless (eq type 'O')}}
    <li>{{link-to 'Mi cita' 'home.premium-services.schedule'}}</li>
  {{/unless}}
  <li>{{link-to 'Preguntas' 'home.premium-services.questions'}}</li>
  <li class="active">Pagar dieta</li>
</ol>

<section class="premium-banner checkout">
  <div class="overlay-color checkout">
    <div class="container">
      <div class="row">
        <div class="premium-banner-info">
          <div class="banner-text text-center">
            <h1 class="white">PAGO DE LA DIETA</h1>
            <p>Por favor, finaliza el proceso de compra de tu dieta realizando el pago con tu tarjeta de débito o crédito</p>
            {{#if (eq type 'P')}}
              <div class="form-group">
                <p>Si te resulta más cómodo, también puedes pagar tu dieta una vez finalice tu consulta con tu nutricionista</p>
                <label for="optGenre1" class="radio-inline">
                  {{radio-button id='optPay1' name='optPay' value=true checked=payLater}}
                  <span>Pago en consulta</span>
                  <div class="radio-checked"></div>
                </label>
                <label for="optGenre2" class="radio-inline">
                  {{radio-button id='optPay2' name='optPay' value=false checked=payLater}}
                  <span>Pagar ahora</span>
                  <div class="radio-checked"></div>
                </label>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row">
        {{premium-services-steps currentStep=4 type=type}}
      </div>
    </div>
    <div class="container stripe">
      <div class="row">
        <div class="col-xs-12">
          {{#unless isCompleted}}
            <form class="premium-form">
              <fieldset class="card-details">
                <legend>Pago de tu dieta</legend>
                {{#if isLoading}}
                  <div class="loader payment"></div>
                  <p class="text-center info">{{t 'text.paying'}}</p>
                {{else}}
                  <div class="form-row">
                    <div class="form-group">
                      <label for="customer-email">Email</label>
                      {{input id='customer-email' class='form-control' type='email' value=email readonly=true}}
                    </div>
                  </div>
                  {{#if (not-eq type 'O')}}
                    <div class="form-row">
                      <div class="form-group">
                        <label for="diet-date">Fecha de la cita {{t (if (eq type 'P') 'label.meet.face' 'label.meet.video')}}</label>
                        {{input id='diet-date' class='form-control' type='text' value=(moment-parse-zone date 'DD/MM/YYYY HH:mm') readonly=true}}
                      </div>
                    </div>
                  {{/if}}
                  <div class="form-row">
                    <div class="form-group">
                      {{#if hasCredits}}
                        <p class="text-center info">Esta dieta puedes pagarla con los créditos que dispones</p>
                        <div class="submit-button">
                          <div class="col-xs-12">
                            <button type="button" class="form-control btn btn-df btn-block" {{action 'confirm'}}>Comprar dieta con créditos</button>
                            <button type="button" class="form-control btn btn-grey btn-block" {{action 'cancel'}}>{{t 'label.cancel'}}</button>
                          </div>
                        </div>
                      {{else if payLater}}
                          <div class="pay-buttons">
                            <div class="col-xs-12">
                              <button type="button" class="form-control btn btn-df btn-block" {{action 'payLater'}}>Pagar tras la consulta</button>
                              <button type="button" class="form-control btn btn-grey btn-block" {{action 'cancel'}}>{{t 'label.cancel'}}</button>
                            </div>
                          </div>
                      {{else}}
                        <label for="customer-card">Datos de la tarjeta</label>
                        {{#stripe-card autofocus=true options=stripeOptions as |stripeElement stripeError|}}
                          {{#if stripeError}}
                            <p class="checkout-error" role="alert">{{fa-icon 'times-circle' fixedWidth=true}}{{stripeError.message}}</p>
                          {{/if}}
                          <div class="pay-buttons">
                            <div class="col-xs-12">
                              <button type="button" class="form-control btn btn-df btn-block" {{action 'pay' stripeElement}}>Comprar dieta por {{amount}} €</button>
                              <button type="button" class="form-control btn btn-grey btn-block" {{action 'cancel'}}>{{t 'label.cancel'}}</button>
                            </div>
                          </div>
                        {{/stripe-card}}
                      {{/if}}
                    </div>
                  </div>
                {{/if}}
              </fieldset>
            </form>
          {{else}}
            <form class="premium-form">
              <fieldset class="payment-result">
                <legend>Pago de tu dieta</legend>
                <div class="form-row">
                  <div class="text-center {{if isError 'error' 'success'}}">{{fa-icon (if isError 'times-circle' 'check-circle')}}</div>
                  <p class="text-center info">{{t (if isError 'error.payment' 'text.payment.success')}}</p>
                  <div role="group" class="text-center">
                    <button type="button" class="btn btn-df" {{action 'close'}}>{{if isError 'Cerrar' 'Continuar'}}</button>
                  </div>
                </div>
              </fieldset>
            </form>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</section>

