<ol class="breadcrumb">
  <li>{{link-to 'Inicio' 'home'}}</li>
  <li>{{link-to 'Servicios de dieta' 'home.premium-services.index'}}</li>
  <li class="active">Mi cita</li>
</ol>

<section class="premium-banner schedule">
  <div class="overlay-color schedule">
    <div class="container">
      <div class="row">
        <div class="premium-banner-info">
          <div class="banner-text text-center">
            <h1 class="white">Escoge una fecha</h1>
            <p>Tu nutricionista te atenderá en el día y la hora señalada. Recuerda que puedes cancelar esta cita hasta con 24 horas de antelación</p>
          </div>
        </div>
      </div>
      <div class="row">
        {{premium-services-steps currentStep=2}}
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form>
            <fieldset>
              <legend>Cita {{dietType}}</legend>
              <div class="form-row">
                <div class="form-group">
                  <label for="title">Día</label>
                  {{#power-select
                    id='bookDay'
                    class='form-control'
                    searchEnabled=false
                    selected=bookDay
                    options=dayOptions
                    onchange=(action 'onSelectDay') as |day|}}
                    {{moment-format day 'dddd DD [de] MMMM' 'YYYY-MM-DD'}}
                  {{/power-select}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="title">Hora</label>
                  {{#power-select
                    id='bookHour'
                    class='form-control'
                    searchEnabled=false
                    selected=bookHour
                    options=hourOptions
                    onchange=(action (mut bookHour)) as |hour|}}
                    {{hour}}
                  {{/power-select}}
                </div>
              </div>
              <div class="form-row text-center">
                <button type="button" class="btn btn-grey" {{action 'cancel'}}>Cancelar</button>
                <button type="button" class="btn btn-df" {{action 'save'}}>Reservar cita</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{{wait-modal id='modal-wait-new-appointment' text='Solicitando cita...'}}

{{#generic-modal id='modal-new-appointment-error'}}
  <div class="text-center">{{fa-icon 'times-circle'}}</div>
  <h5 class="modal-title text-center">Error al reservar la cita!</h5>
{{/generic-modal}}

