<section class="premium-banner">
  <div class="overlay-color">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="{{image-path 'logo-dietafarma-basic-white.png'}}" alt="dietafama logo">DietaFarma</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="banner-info">
          <div class="banner-text text-center">
            <h1 class="white">Hazte ya cliente premium</h1>
            <p>Recibe una atención más personalizada con nuestros packs premium</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="premium-packs">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img class="image" src="{{image-path 'bronze-medal.png'}}" alt="imagen pack bronce">
          <div class="caption-details">
            <h3>Bono 3 consultas</h3>
            <p class="price">100€</p>
          </div>
          <div class="caption-link">
            <span {{action 'buy'}}>{{fa-icon 'plus' size='8x'}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img class="image" src="{{image-path 'silver-medal.png'}}" alt="imagen pack plata">
          <div class="caption-details">
            <h3>Bono 5 consultas</h3>
            <p class="price">125€</p>
          </div>
          <div class="caption-link">
            <span {{action 'buy'}}>{{fa-icon 'plus' size='8x' fixedWidth=true}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img  class="image"src="{{image-path 'gold-medal.png'}}" alt="imagen pack oro">
          <div class="caption-details">
            <h3>Bono 10 consultas</h3>
            <p class="price">200€</p>
          </div>
          <div class="caption-link">
            <span {{action 'buy'}}>{{fa-icon 'plus' size='8x'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>