<ol class="breadcrumb">
  <li>{{link-to 'Home' 'home'}}</li>
  {{#if isNutriotionist}}
    <li>{{link-to 'Mis clientes' 'home.clients.index'}}</li>
    <li class="active">Dietas</li>
  {{else}}
    <li class="active">Mis dietas</li>
  {{/if}}
</ol>

{{#each model.diets as |diet index|}}
  <div class="container">
    <div class="panel panel-df">
      <div class="panel-heading">
        <h3 class="panel-title">
          #{{index}} {{diet.title}}
        </h3>
      </div>
      <div class="panel-body">
        Desde {{moment-format diet.fromDate 'DD/MM/YYYY'}} - Hasta {{moment-format diet.toDate 'DD/MM/YYYY'}}
      </div>
      <div class="panel-footer text-center">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-info" {{action 'open' (get diet 'url')}}><i class="fa fa-x fa-eye"></i></button>
        </div>
        {{#if isNutriotionist}}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" {{action 'delete' (get diet '_id')}}><i class="fa fa-x fa-trash"></i></button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> Atención</h3>
      </div>
      <div class="panel-body">No tienes ninguna dieta asignada</div>
    </div>
  </div>
{{/each}}

{{#generic-modal id='modal-delete-diet-error'}}
  <div class="text-center">
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  </div>
  <h5 class="modal-title">Error al borrar la dieta!</h5>
{{/generic-modal}}

{{wait-modal id='modal-wait-delete-diet' text='Borrando dieta...'}}
