<ol class="breadcrumb">
  <li>{{link-to 'Home' 'home'}}</li>
  <li class="active">Mis dietas</li>
</ol>

{{#each model.diets as |diet index|}}
  <div class="container">
    <div class="panel panel-df">
      <div class="panel-heading">
        <h3 class="panel-title">
          #{{index}} Desde {{moment-format diet.fromDate 'DD/MM/YYYY'}} - Hasta {{moment-format diet.toDate 'DD/MM/YYYY'}}
        </h3>
      </div>
      <div class="panel-body">
        {{diet.title}}
      </div>
      <div class="panel-footer">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-df" {{action 'show' (get diet '_id')}}><i class="fa fa-x fa-eye"></i></button>
        </div>
      </div>
    </div>
  </div>
{{else}}
<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-warning"></i> Atención</h3>
    </div>
    <div class="panel-body">No tienes ninguna dieta asignada</div>
  </div>
</div>
{{/each}}
