<ol class="breadcrumb">
  {{#if isNutritionist}}
    <li>{{link-to 'Mis clientes' 'home.clients.index'}}</li>
  {{else}}
    <li class="active">Mis dietas</li>
  {{/if}}
</ol>

{{#each model.diets as |diet index|}}
  <div class="container">
    <div class="panel panel-df">
      <div class="panel-heading">
        <h3 class="panel-title">
          #{{index}} {{diet.title}}
        </h3>
      </div>
      <div class="panel-body">
        Desde {{moment-format diet.fromDate 'DD/MM/YYYY'}} - Hasta {{moment-format diet.toDate 'DD/MM/YYYY'}}
      </div>
      <div class="panel-footer text-center">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-info" {{action 'open' (get diet 'url')}}>{{fa-icon 'eye' size='x'}}</button>
        </div>
        {{#if isNutritionist}}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" {{action 'delete' (get diet '_id') (get diet 'client')}}>{{fa-icon 'trash' size='x'}}</button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{fa-icon 'exclamation-triangle'}} Atención</h3>
      </div>
      <div class="panel-body">No tienes ninguna dieta asignada</div>
    </div>
  </div>
{{/each}}

{{#if isNutritionist}}
  <div {{action 'new'}} class='floating-button'>
    {{fa-icon 'plus' size='2x' transform='down-6'}}
  </div>
  
  {{wait-modal id='modal-wait-delete-diet' text='Borrando dieta...'}}

  {{#generic-modal id='modal-delete-diet-error'}}
    <div class="text-center">{{fa-icon 'times-circle'}}</div>
    <h5 class="modal-title text-center">Error al borrar la dieta!</h5>
  {{/generic-modal}}
{{/if}}

